=newBtnStyle($colour)
	border-left-color: $colour
	border-right-color: $colour

	.page-section &
		color: $colour

	&:before, &:after
		+boxShadow(#{"inset -9px 0 0 0 #{$colour}, inset 9px 0 0 0 #{$colour}"})

	&:hover:active,
	&:focus
		background-color: $colour

		.page-section &
			color: #FFF

	&:before, &:after
		+boxShadow(#{"inset -9px 0 0 0 #{$colour}, inset 9px 0 0 0 #{$colour}"})

	&:hover:before, &:hover:after
		+boxShadow(#{"inset -200px 0 0 0 #{$colour}, inset 200px 0 0 0 #{$colour}"})
		+transition(.5s ease-in-out)

.btn
	+userSelect(none)
	position: relative
	display: inline-block
	+sq(auto)
	color: #FFF
	font: 600 18px/1 $font
	text-transform: none
	margin: 0
	padding: 10px 20px
	border: 2px solid transparent
	border-top-color: transparent
	border-bottom-color: transparent
	+boxShadow(none)
	+transition(.3s ease-in-out)
	background: none

	&.sm
		font: 400 15px/24px $font
		padding: 0 10px

	&:hover
		color: #FFF
		+boxShadow(none)
		background: rgba(#FFF, .05)

	&:before, &:after
		content: ''
		position: absolute
		right: -2px
		left: -2px
		height: 2px
		+transition(inherit)
	
	&:before
		top: -2px

	&:after
		bottom: -2px

	i
		vertical-align: middle
		margin: 0 0 0 10px

		&.material-icons
			+opacity(.5)

	+newBtnStyle($yellow)

	&.faded
		+newBtnStyle(#4e526e)

	&.btn-purple
		+newBtnStyle(#8e5bb7)

	&.btn-white
		+newBtnStyle(#A57CC5)

.btn-group 
	@media (min-width: $small)
		a.btn:not(:last-child)
			margin-right: 30px

	@media (max-width: $small)
		a.btn
			display: block
			width: 75%
			margin: auto

			&:not(:last-child)
				margin-bottom: 15px
