form
	margin: auto

	&.is-loading *
		+opacity(.7)
		pointer-events: none

	.row
		position: relative
		margin: 0 0 40px !important

	.col
		position: inherit

	@media (min-width: $small)
		.col
			padding-top: 17px !important

		.col.m6:not(.only-child):first-child
			padding-right: 10px

			+ .col
				padding-left: 10px

		.col.m6:only-child
			width: 100% !important

	.card-panel
		display: block
		color: #FFF
		+boxShadow(none)

	p.err
		color: darken(red, 20)
		font-size: 12px
		vertical-align: top
		margin: 10px 0

	label
		display: block
		+transparentColour($default, .2)
		font: 12px $font
		text-transform: uppercase

		@media (max-width: $small)
			margin: 15px auto 0

	@media (min-width: $small)
		.row label
			position: absolute
			top: 0

	input[type=text],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=phone],
	input[type=name],
	input[type=website],
	textarea
		display: block
		width: 100%
		height: auto
		color: $default
		font: 18px $font
		margin: 0
		padding: 9px 0
		border: 0
		+boxShadow(none)
		border-bottom: 1px solid #C8C7CC
		background: transparent

		&:focus, &:active
			outline: none

		&:not([readonly])
			&:focus, &:active
				border-bottom-color: $purple
				+boxShadow(none)

				+ label
					color: #4c5386

			&.valid
				border-bottom-color: #4c5386
				+boxShadow(none)

				+ label
					color: #4c5386

		&:not([required]) + label .astericks
			display: none

	textarea
		resize: vertical

	.invalid
		input:not(.valid), textarea:not(.valid)
			border-color: darken(red, 20)

			+ label
				color: darken(red, 20)

	&:not(.is-loading) [type=submit] span:last-child
		display: none

	&.is-loading [type=submit] span:first-child
		display: none

// -----------------------------------------------

.slide-ready form
	label
		color: rgba(#FFF, .2)

	input[type=text],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=phone],
	input[type=name],
	input[type=website],
	textarea
		color: #FFF
		border-bottom-color: rgba(#FFF, .15)

		&:not([readonly])
			&:focus, &:active
				border-bottom-color: $yellow
				+boxShadow(none)

				+ label
					color: $yellow

			&.valid
				border-bottom-color: $yellow
				+boxShadow(none)

				+ label
					color: $yellow

// -----------------------------------------------

form[id^="gform_"]
	ul, li
		display: block
		margin: 0
		padding: 0

	.gfield
		margin: 25px auto

		&:first-child
			margin-top: 0

		&:last-child
			margin-bottom: 0

	label
		display: block

		&.gfield_label
			color: $default
			font-weight: 300
			font-size: inherit
			text-transform: none

	input + label
		margin-top: 10px

	.ginput_complex.gf_name_has_2
		+clearfix

		span
			width: 49%

			&:first-child
				float: left

			&:last-child
				float: right

	.gform_footer
		padding-top: 50px