#header
	z-index: 500
	position: absolute
	padding: 30px 25px
	+transition(.4s $easeOutSine)
	+transformOrigin(center top)

	@media (min-width: 1025px)
		position: fixed
		top: 0
		right: 0
		left: 0

		&.min
			padding: 15px 25px
			+boxShadow(#{"0 0 4px rgba(0,0,0,.10), 0 0 100px 1px rgba(0,0,0,.02)"})
			background: #FFF

			.logo img
				&:first-child
					display: none

				&:last-child
					display: block

			.right-align
				padding-top: 5px

			ul li a
				color: #151726

				&:hover
					color: darken($purple, 20)

				&[href="/contact/"]
					color: #FFF
					background: $yellow

					&:hover
						color: #FFF
						background: darken($yellow, 3)

			ul li .sub-menu
				padding-top: 33px
				+boxShadow(10px 43px 50px -10px rgba(#000, .5))

		&.out
			+opacity(0)
			+transform(translate(0, -100%))

		.logo, .logo img,
		.right-align
			+transition(.25s ease-in-out)

	@media (max-width: 1025px)
		.row .col.m3
			width: 100%

	.row
		margin: 0

	.logo img
		&:first-child
			display: block

		&:last-child
			display: none

		@media (max-width: $small)
			max-width: 80%

	.right-align
		padding-top: 28px

	+menu
		position: relative

		a
			color: #FFF
			font: 600 16px/1 $font
			text-transform: uppercase
			text-decoration: none
			padding: 0 0 3px
			+transition(all .25s ease-in-out)

			body:not(.home) &[href="/"].active
				+boxShadow(none)

			&:hover
				color: $yellow

			&.active
				+boxShadow(0 2px $yellow)

			=contactBtn
				padding: 7px 14px
				+borderRadius(17px)
				border: 1.15px solid rgba(#FFF, .2)
				background: rgba(#000, .13)

				&:hover
					border-color: $yellow

				&.active
					border-color: $yellow
					+boxShadow(none)
					background: $yellow

			@media (min-width: $small)
				&[href="/contact/"]
					+contactBtn

			@media (max-width: $small)
				&[href^="tel:"]
					+contactBtn

		&.over > a
			color: $yellow

		&:not(:last-child) > a
			margin-right: 25px

		.sub-menu
			display: block
			position: absolute
			top: 100%
			left: 0
			text-align: left
			white-space: nowrap
			padding: 20px 0 0
			+boxShadow(10px 10px 50px -10px rgba(#000, .5))

			li
				display: block
				line-height: 1
				background: #FFF

				&:first-child
					padding-top: 10px
					+borderRadius(7px 7px 0 0)

					&:before
						content: ''
						position: absolute
						top: -12px
						left: 20%
						border: 6px solid transparent
						border-bottom-color: #FFF

				&:last-child
					padding-bottom: 10px
					+borderRadius(0 0 7px 7px)

				&:only-child
					+borderRadius(7px)
					padding: 10px 0 15px

				a
					color: $default
					font-weight: 400
					text-transform: none
					margin: 0 !important
					padding: 5px 25px
					+boxShadow(none)

					&:hover
						color: $yellow

				&[class*="current"] > a
					color: $default

		&:not(.over) .sub-menu
			display: none

	@media (max-width: 1025px)
		.hide-on-small-only
			display: none !important

		.hide-on-med-and-up
			display: block !important

#header .mobile-link a
	$h: 2px
	$mod: 3

	z-index: 600
	display: block
	position: fixed
	top: 50px
	right: 25px
	width: 35px
	height: 29px
	+borderRadius(2px)

	span
		display: block
		position: absolute
		top: 13px
		left: 5px
		width: 25px
		height: $h
		+transition(.25s ease-in-out)
		background: #FFF

		&:before, &:after
			content: ''
			display: inherit
			position: inherit
			width: inherit
			height: inherit
			+transition(inherit)
			background: inherit

		&:before
			top: -($h * $mod)

		&:after
			top: $h * $mod

#header.mobile-menu-open .mobile-link a span
	+transform(rotate(45deg))

	&:before
		+transform(translateY(6px) rotate(-90deg))

	&:after
		+opacity(0)

#header #mobile-menu
	+opacity(0)
	z-index: 500
	pointer-events: none
	+cover(fixed)
	height: 100%
	-webkit-touch-scrolling: overflow
	overflow: auto
	+transition(.35s ease-in-out)
	background: fixed url(../img/bg-pattern.png)

	.no-csspointerevents &
		display: none
		z-index: -100

	+menu
		display: block
		text-align: center

		a
			display: inline-block
			color: #FFF
			font-size: 16px
			line-height: 1
			margin: 0
			padding: 0

			&[href^="tel:"]
				padding: 10px 25px

		&:not(:last-child) > a
			margin-bottom: 30px

	ul
		@extend .centerY
		display: block
		width: 100%

#header.mobile-menu-open #mobile-menu
	+opacity(1)
	z-index: 500
	pointer-events: auto