#masthead
	+userSelect(none)
	+transition(background-color 1s ease-in)
	background-blend-mode: overlay

	@media (max-width: $small)
		padding: 35px 0 70px

		.centerY
			position: relative
			top: 0
			left: 0
			+transform(none)

	&:not([style*="background-image"])
		background-color: #151726

	h1
		display: block
		font: 600 80px/1 $font
		text-transform: none
		margin: 0

		@media (max-width: $small)
			font-size: 31px
			margin-top: 100px

	p
		max-width: 900px
		+transparentColour(#FFF, .75)
		font: 300 26px/40px $font
		margin: 0 auto

		@media (max-width: $small)
			font-size: 18px
			line-height: 1.25

.scroll-down-anchor
	cursor: pointer
	display: block
	width: 26px
	height: 60px
	margin: auto
	+transition(.3s ease-in-out)
	background: url(../img/down-arrow.svg) no-repeat

	@media (min-width: $small)
		position: absolute
		left: 50%
		bottom: 55px
		margin-left: -11.5px

		@media (max-width: 1205px)
			bottom: 10px

	@media (max-width: $small)
		margin-top: 25px

	&:not(:hover)
		+opacity(.95)