.slide-mission
	overflow: hidden
	background-image: url(../img/slide-mission.jpg)
	background-position: center bottom

	@media (min-width: $small)
		background-attachment: fixed

	.mission-deco
		min-height: 280px
		+transition(1s ease-in-out)
		background: url(../img/bg-mission-text.png) center no-repeat
		+backgroundSize(contain)

		@media (min-width: $small)
			width: 307px !important

		@media (max-width: $small)
			min-height: 0
			background-image: none

		h3
			@media (min-width: $small)
				line-height: 280px
				text-indent: 35px

			@media (max-width: $small)
				text-align: left
				margin: 0 0 42.5px

	@media (min-width: $small)
		&:not(.active) .mission-deco
			+opacity(0)
			+transform(scale(.5))

	.mission-text
		text-align: left

		@media (min-width: $small)
			position: relative
			top: -5px
			width: calc(100% - 307px) !important
			padding-left: 155px

			@media (max-width: 769px) and (orientation: portrait)
				padding-left: 0

	p
		font: 300 40px/58px $font
		margin: 0 0 50px

		@media (max-width: $small)
			font-size: 28px
			line-height: 1.35
			padding-right: 25px

		@media (max-width: 769px) and (orientation: portrait)
			font-size: 28px
			line-height: 1.35
			padding-right: 25px

	div, .btn
		+transition(1s ease-in-out)
	
	@media (min-width: $small)
		&:not(.active) .mission-text 
			div, .btn
				+opacity(0)

			div
				+transform(translate(200px, 0))

			.btn
				+transform(translate(0, 200px))