.slide-transform
	@media (max-width: $small)
		padding-top: 50px + 150
		
	h1
		text-transform: capitalize

	span.isvg
		display: block
		position: relative
		width: 731px
		height: 121px
		margin: 0 auto 
		padding: 20px 0 0

		svg
			overflow: visible

		&:before, &:after
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			width: 15px
			height: 121px
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAB5CAYAAADmrXuWAAAAbklEQVRYR+3UsQ2AMAwAQbwZo7NZEHQU6AX1pbab08ez1tq3n2+u5Zk5/uxb/qgGDFgKiCSJngPAgKWASJLIrxKJSFJAJEnkkohEJCkgkiRySUQikhQQSRK5JCIRSQqIJIlcEpGIJAXuSHLqZeAEV2HjA6+sv/AAAAAASUVORK5CYII=) no-repeat

		&:before
			left: 0

		&:after
			right: 0
			+transform(scaleX(-1))

	circle
		position: absolute
		pointer-events: all
		+transition(.3s ease)

		&:hover
			fill: blue !important
			animation: none !important

	@for $i from 1 to 500
		.loaded circle:nth-child(#{$i})
			$r1: random(700) - random(600) + px
			$r2: random(500) - random(400) + px

			$x: $r1
			$y: $r2
			
			$speed: random(3) + 1 + s
			$delay: 1s * (10 / $i)

			@if random(10) < 5
				$x: $r2
				$y: $r1

			opacity: 0
			animation: flyin#{$i} $speed 1 forwards
			animation-delay: .015s * $i

			@keyframes flyin#{$i}
				0%
					transform: translate($x, $y)

				25%
					opacity: .1

				100%
					opacity: 1
					transform: translate(0, 0)

		.loaded.anim-finished circle
			animation-delay: 0s !important

.slide-transform .scroll-down-anchor
	z-index: 999
	position: fixed

	.s-5 &
		+opacity(0)
		pointer-events: none