.slide-ready
	body:not(.home) &
		height: 50vh

	h2
		font: 300 40px/1.35 $font
		text-transform: none
		margin: 0 auto 35px

		@media (max-width: $small)
			font-size: 25px

	form
		max-width: 531px

		@media (max-width: $small)
			padding: 0 25px

	.carousel
		position: relative
		height: 100%

		.page
			position: absolute
			top: 50%
			width: 100%
			+transition(.75s $easeInOutCubic)

			@media (max-width: $small)
				top: 0

	.btn-group
		@media (max-width: $small)
			.btn
				display: inline-block
				width: auto
				vertical-align: top
				margin: 0 10px

	a.carousel-link
		display: block
		position: absolute
		top: 50%
		+sq(48px)
		line-height: 48px
		border: 1.15px solid #FFF
		+borderRadius(48px)
		+transform(translate(0, -50%))
		+transition(opacity .3s ease-in-out)

		@media (max-width: $small)
			display: none

		&:not(:hover)
			+opacity(.2)

		i
			+transform(scale(.5) translate(0, -5px))

		&:first-child
			left: 15px

		&:last-child
			right: 15px

#footer
	.body:not(.home) &
		.slide-ready, + #footer-push
			+transition(height .75s $easeInOutCubic)

	&.form-in-view 
		.slide-ready, + #footer-push
			height: 100vh !important

			@media (max-width: $small)
				height: 150vh !important

		.p1
			+opacity(0)
	
			@media (min-width: $small)
				+transform(translate(0, -50%) scale(0.1))

		.p2
			@media (min-width: $small)
				+transform(translate(0, -30%))

		.carousel-link:last-child
			+opacity(0)

	&:not(.form-in-view)
		@media (min-width: $small)
			.p1
				+transform(translate(0, -50%))

			.p2
				+transform(translate(100%, -30%))

			.carousel-link:first-child
				+opacity(0)

		@media (max-width: $small)
			.p1
				+transform(translate(0, 20%))
				
				.home &
					+transform(translate(0, 150%))

			.p2
				+opacity(0)
				pointer-events: none