.slide-insight 
	.insight-cards
		margin: 50px auto

	figure
		cursor: pointer
		display: inline-block
		vertical-align: top
		padding: 25px
		margin: 25px
		border: 1px solid rgba(#FFF, .1)
		+transition(1s .5s ease-in-out)
		background: rgba(#000, .1) url(/img/bg-insight-card.png) center no-repeat

		@media (min-width: 1025px)
			width: 267px
			height: 379px

		@media (max-width: 1025px)
			+clearfix
			display: block
			width: 100%
			margin: auto
			padding: 10px 20px

			&:not(:last-child)
				margin: 0 auto 10px

		&:hover
			+boxShadow(inset 0 0 0 2px $yellow)
			background-color: rgba(#000, .35)

		strong
			display: block
			color: #FFF
			font: 600 140px $font
			+transition(inherit)

			@media (max-width: 1025px)
				float: left
				width: 60px
				font-size: 80px
				text-align: left

				+ aside
					float: right
					width: calc(100% - 60px)
					text-align: left
					padding: 10px

		&:hover strong
			color: $yellow

		em
			display: block
			font: 300 26px $font
			margin: 0 auto 5px

			@media (max-width: 1025px)
				width: 100%
				display: inline-block
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				margin: 0

		a
			color: #FFF
			font: 600 14px $font
			text-decoration: none
			text-transform: uppercase

			&:hover
				color: $yellow

		&:hover a 
			color: $yellow

	@media (min-width: 1025px)
		&:not(.active) figure
			+opacity(0)
			+transition(.25s ease-in-out)

			&:first-child
				+transform(translate(0, -200px))

			&:nth-child(2)
				+transform(translate(0, -100px))

			&:nth-child(3)
				+transform(translate(0, -50px))
		
		&:not(.active) .btn
			+opacity(0)