.posts-pagination a
	cursor: pointer
	display: inline-block
	vertical-align: middle

	&:not(:last-child)
		margin-right: 50px

#masthead .posts-pagination
	@media (min-width: $small)
		position: absolute
		left: 50%
		margin-top: 70px
		+transform(translate(-50%, 0))

	a
		+hideBackface
		+transform(translateZ(0) scale(1.0, 1.0))
		+transition(opacity .4s ease-in-out)

		&:not(:hover)
			+opacity(.3)
			+transition(none)

	.icon-larr:hover
		@extend .icon-larr-yellow

	.list-page
		&:hover .icon-grid
			@extend .icon-grid-yellow

		span
			display: none

	.icon-rarr:hover
		@extend .icon-rarr-yellow

.page-section .posts-pagination
	clear: both
	text-align: center
	margin: 50px auto 0

	.icon-larr, .icon-rarr
		+transform(translate(0, 28px))
		+transition(opacity .4s ease-in-out)

		&:not(:hover)
			+opacity(.3)

	.icon-larr
		float: left
		@extend .icon-larr-purple
	
	.list-page
		span
			display: inline-block
			color: #adaeb3
			font: 600 16px/20px $font
			text-transform: uppercase
			margin: 0 0 0 15px
			+transition(color .4s ease-in-out)

		&:hover span
			color: #8E5BB7

		.icon-grid
			@extend .icon-grid-purple

	.icon-rarr
		float: right
		@extend .icon-rarr-purple