.template-blog .page-section
	padding-top: 80px
	padding-bottom: 80px

	.lead
		margin-bottom: 80px

		+ span > form
			margin-top: -80px
			margin-bottom: 40px

.blog-bar
	color: #FFF
	font: 18px $font
	overflow: hidden
	background: #8E5BB7

	ul, li
		display: inline
		margin: 0
		padding: 0

	a
		color: #FFF
		text-decoration: none

	.sidebar a
		display: block
		padding: 19px 0

		i
			margin: -5px 10px 0 0

		&:not(:hover) i
			+opacity(.5)

	.page-contents
		@media (max-width: $small)
			display: none

	ul li
		position: relative
		top: 3px

		> a
			display: inline-block
			padding: 13px 22px
			border-right: 1px solid rgba(#FFF, .2)

			i
				+transition(opacity .3s ease-in-out)

				&.icon-email
					+opacity(.6)
					+filter(brightness(0) invert(1))

			&:not(:hover) i
				+opacity(.5)

				&.icon-email
					+opacity(.25)

		&:first-child + li > a
			margin-left: 20px
			border-left: 1px solid rgba(#FFF, .2)

.blog-nav
	background: #FFF

	ul, li
		display: inline
		margin: 0
		padding: 0

	ul li 
		> a
			display: inline-block
			color: #bebfc8
			font: 600 18px $font
			text-decoration: none
			padding: 16px 101px
			border-bottom: 3px solid #f2f2f4

			@media (max-width: $small)
				font-size: 0px

			&:hover, &.active
				color: $yellow
				border-bottom-color: $yellow
				background: none

			@media (min-width: $small)
				i
					margin: -4px 10px 0 0
		
		@media (min-width: $small)
			&:not(:last-child) > a
				margin-right: 15px

.category-selector label
	color: $purple
	display: block
	font: 300 24px $font
	margin: 0
	text-transform: capitalize
	text-align: center

	select
		cursor: pointer
		appearance: none
		-webkit-appearance: none
		display: inline-block
		+sq(auto)
		color: $purple
		font: 24px $font
		margin: 0 0 0 15px
		padding: 2px 35px 2px 2px
		border: 0
		border-bottom: 1px solid #C8C7CC
		background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAZklEQVQYV2NkYGBgcHAokwHRBw50PQHR6ABZnhHE+fP/7wGQIhZGZgd0TejyyBqUGRgY7iJrQlIMl2OEOQlqC1wCJI4uBrIdrAGbJqgwhq1wDVg0gYRQnAgSQNGApglrIGBoIBTMADrdUS18f9wHAAAAAElFTkSuQmCC) right center no-repeat

		&:focus, &:active
			outline: none

		option
			font-size: 13px

.post
	padding: 50px 0
	border-top: 1px solid #f2f2f4

	.post-title
		color: $purple
		font: 600 40px/60px $font
		text-decoration: none
		margin: 0

		@media (max-width: $small)
			font: 600 28px/31px $font

		&:hover
			color: $default

	.post-content
		margin: 15px auto 25px

		p
			display: inline
			font: 300 20px/30px $font
			margin: 0

		.read-more
			color: $yellow
			font: 600 18px $font
			text-decoration: none

			&:hover
				color: $purple

	.post-author
		color: #8a8b8f
		font: 300 20px $font

		img
			display: inline-block
			+sq(30px)
			vertical-align: middle
			margin: 0 5px 0 0
			+borderRadius(30px)

.template-single .blog-bar + .page-section
	padding-top: 70px

.go-back-to
	margin: 45px auto

	i
		margin: 0 10px 0 0
		vertical-align: middle

	a
		color: #adaeb3
		font: 600 16px/20px $font
		text-transform: uppercase
		text-decoration: none

		&:hover
			color: $purple

.blog-pagination
	color: #c8c7cc
	font: 600 18px/46px $font
	padding-top: 50px
	border-top: 1px solid #f2f2f4

	a.prev-page i
		margin: 0 10px 0 0
		+transform(scaleX(-1))

	a.next-page i
		margin: 0 0 0 10px

	a, span
		color: inherit
		font: inherit
		text-decoration: none
		margin: 0 10px 

	a:hover, a.active
		color: $yellow