.page-section
	position: relative
	padding: 150px 0
	background: #FFF
	
	@media (min-width: $small)
		~ .page-section:not(.bg-block)
			padding-top: 0

	@media (max-width: $small)
		padding: 25px 0

	&.offwhite
		background: #f6f7f9

	&.no-top-padding
		padding-top: 0

	&.no-bottom-padding
		padding-bottom: 0

.sidebar, .page-contents
	float: left
	vertical-align: top

	&.wrapper
		float: none

	@media (max-width: $small)
		width: 100% !important

.sidebar
	width: 30%

	@media (min-width: $small)
		width: 370px

	hr
		margin: 10px 0

.page-section .sidebar
	@media (min-width: $small)
		padding-right: 50px

	@media (max-width: $small)
		padding-bottom: 50px

.sidebar + .page-contents
	width: 70%

	@media (min-width: $small)
		width: calc(100% - 370px)

// Quote/bg block
.page-section.bg-block
	color: #FFF
	background-attachment: fixed
	background-color: #525366

	.table
		width: 100%

	.cell
		float: none

		@media (max-width: $small)
			display: block

	&.hasLead .sidebar
		width: 348px
		height: 313px
		vertical-align: middle
		text-align: center
		padding: 0
		background: url(../img/bg-quote-text.png) -15px center no-repeat

		+ .page-contents
			padding-left: 60px

		strong
			display: block
			color: #FFF
			font: 600 70px/60px $font
			margin: 0 0 15px

		p
			font: 600 16px/20px $font
			text-transform: uppercase
			margin: 0

	blockquote
		margin: 0
		padding: 0
		border: 0

		p
			font: 300 40px/60px $font
			margin: 0 0 30px

			@media (max-width: $small)
				font-size: 18px
				line-height: 1.5

			&:before, &:after
				content: '“'
				color: $yellow
				font: 300 40px/60px $font
				vertical-align: top

			&:before
				margin-left: -16px
				vertical-align: bottom

		cite
			display: block
			font: 400 16px $font
			text-transform: uppercase

// Texture block
.page-section.texture-block
	color: #FFF
	background-image: url(../img/bg-pattern.png)
	background-attachment: fixed

	h2
		color: $yellow

.page-contents form.browser-default
	margin: 50px auto