.services-list
	max-width: 1072px

	figcaption p:after, figcaption p:before
		display: none !important

	.circle
		cursor: pointer
		+sq(322px)
		margin: 15px auto
		border: 1px solid #e7e7e9
		+borderRadius(322px)
		+transition(none)
		background: #FFF

		@media (max-width: $small)
			display: block
			width: 100%
			height: 0px
			overflow: hidden
			padding-bottom: 100%
			+borderRadius(100%)

		> figcaption
			background: #FFF

			@media (max-width: $small)
				top: auto
				bottom: 25%

			.cell
				padding: 0 15px

			img
				display: block
				margin: 0 auto 35px

			h2
				font: 600 24px/30px $font
				margin: auto

				@media (min-width: $small)
					max-width: 80%

	.hover-circ
		display: none
		position: absolute
		top: 50%
		left: 50%
		+sq(280px)
		+borderRadius(280px)
		+transform(translate(-50%, -50%))
		background: #FFF url(../img/bg-circ-dots.png) center no-repeat

		figcaption
			top: 17px
			left: 17px
			+sq(246px)
			padding: 0 25px
			+borderRadius(246px)
			background: $yellow

			p
				position: static
				width: 100%
				color: #FFF
				font: 600 24px/30px $font
				margin: 0
				+transform(none)

	.circle:hover
		border-color: transparent

		.cell
			img, h2
				display: none

		.hover-circ
			display: block
			
.num-list
	counter-reset: section

	.num-listitem:not(:last-child)
		margin-bottom: 50px

	header
		h3
			display: inline-block
			vertical-align: middle
			margin: 0 0 0 15px

			@media (max-width: $small)
				display: block
				margin: 15px auto 0

		.num::before
			content: counters(section, '.')
			counter-increment: section
			display: inline-block
			+sq(48px)
			vertical-align: middle
			color: #FFF
			font: 600 30px/47px $font
			text-align: center
			+borderRadius(48px)
			background: $yellow

		@media (max-width: $small)
			.num
				display: block

				&:before
					display: block
					margin: auto

.expertise-list
	@media (min-width: $small)
		.row
			max-width: 450px
			margin: auto

	p
		font: 300 26px/22px $font
		margin: 25px auto 55px

	.expertise-item
		display: block
		font: 300 20px/30px $font
		text-align: left
		padding-left: 43px
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAlklEQVQIW2NkYGBg8Ixu4GP+wdbGwMDgz8jA8JOBgWHRM2Hh9rOz0n8zGqfNZJV8+/Y0AwODPkgxHDAyrNmypiqU0Te4Pfg/w/81KJJQzv9//3UZfYPbKv4zMLRjU8DwnzGIsAkODg0sPMJsRxgYGMxRncCwevPaqjBGkKBLaAc/x79/TQwMDF4MIF8w/l/zXEikFeQLAI44MxgWNbJsAAAAAElFTkSuQmCC) left center no-repeat