.image-carousel
    position: relative


    .frame
        max-width: 750px
        margin: 0 auto
        position: relative
        font-size: 0
        line-height: 0
        overflow: hidden
        white-space: nowrap

    .js_slides
        display: inline-block

    li
        position: relative
        display: inline-block
        width: 250px

    .js_prev, .js_next
        position: absolute
        top: 50%
        margin-top: -25px
        display: block
        cursor: pointer

        svg
            width: 25px

    .js_next
        right: 0

    .js_prev
        left: 0