.template-team 
	#masthead
		background-position: center 35%
		
		&:before
			content: ''
			pointer-events: none
			z-index: 0
			display: block
			+cover
			background: rgba(#000, .4)

	.page-section
		padding-top: 80px
		padding-bottom: 80px

.team-member
	cursor: pointer
	position: relative
	overflow: hidden
	margin: 0
	border: 6.25px solid #FFF

	@media (min-width: $medium)
		width: 20% !important

	img
		vertical-align: top

	img.invisible
		+transition(.3s ease-in-out)
		visibility: visible

	&:not(:hover) img.invisible
		+opacity(0)
		+transform(scale(1.15))

	&:after
		+opacity(.7)
		content: ''
		+cover
		top: auto
		width: 100%
		height: 68px
		+transition(opacity .2s $easeInSine)
		background-image: linear-gradient(to top, black 0%, transparent 100%);

	&:hover:after
		+opacity(1)
		height: 100%
		background-image: linear-gradient(to top, #4c5386 0%, transparent 100%)

	figcaption
		z-index: 2
		position: absolute
		left: 15px
		bottom: 12.5px
		right: 15px
		color: #FFF
		font: 600 20px/30px $font
		white-space: nowrap

	.reveal-content
		position: absolute
		left: 0
		right: 0
		+transform(translate(0, -30px))
		+transition(.4s ease-in-out)

		small, a
			+opacity(0)
			+transition(inherit)

		small
			display: block
			color: rgba(#FFF, .5)
			font: 300 16px/30px $font
			white-space: normal
			margin: 0 auto 15px

		a
			color: #FFF
			font: 600 13px/33px $font
			text-decoration: none

			img
				vertical-align: middle
				margin: 0 0 0 10px

	&:hover .reveal-content
		+transform(translate(0, -100%))
		
		small, a
			+opacity(1)

.certificates-wrapper
	margin: 45px 0 0

	.table
		margin: 25px 0 0