.row .post-guide.col
	position: relative
	cursor: pointer
	margin: 0
	padding: 21px 8px

	a.cover
		z-index: 5
		display: block

	header
		position: relative
		width: 100%
		height: 423px
		overflow: hidden
		color: #FFF
		text-align: center
		margin: auto
		background-color: #664084
		background-position: center bottom
		background-repeat: repeat-x

		&:after
			+opacity(.5)
			content: ''
			z-index: 0
			+cover
			+transition(.3s $easeInOutSine)
			+transform(translate(0, 100%))
			background-color: inherit

		.center
			z-index: 2

		i
			display: block
			margin: 0 auto

		p
			max-width: 175px
			margin: 33px auto

		small
			z-index: 2
			pointer-events: none
			position: absolute
			bottom: 0
			left: 0
			right: 0
			font: 600 13px/25px $font
			letter-spacing: 4px
			text-transform: uppercase
			padding-bottom: 15px

	&:hover header:after
		+transform(none)

	&:nth-child(1n + 1) header
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../img/guides-mask-1.png)

	&:nth-child(2n + 2) header
		background-color: $yellow
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../img/guides-mask-2.png)

	&:nth-child(3n + 3) header
		background-color: #089ebb
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../img/guides-mask-3.png)

	&:nth-child(4n + 4) header
		background-color: #525366
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../img/guides-mask-4.png)

	&:nth-child(5n + 5) header
		background-color: #202232
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../img/guides-mask-5.png)

	footer
		padding: 25px
		border: 1px solid #F2f2f2
		border-width: 0 1px 1px 1px
		background: #FFF

		a
			color: $yellow
			font: 600 23px $font
			white-space: nowrap
			text-decoration: none

			i
				vertical-align: middle
				margin: 0 0 0 7px