.breakdown
	+userSelect(none)
	margin-top: 100px

	figure
		position: relative
		display: inline-block
		vertical-align: middle
		+sq(300px)
		overflow: hidden
		margin: 0
		border: 1px solid rgba(#FFF, .2)
		+borderRadius(300px)

		@media (max-width: $small)
			display: block
			width: 100%
			height: 0px
			overflow: hidden
			padding-bottom: 100%
			+borderRadius(100%)

		+ hr
			display: inline-block
			vertical-align: middle
			width: 50px
			height: 1px
			margin: 0 10px
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABCAYAAACc0f2yAAAAHUlEQVQIW2P8//+/GSMj4ykGBgYGEBtEg8BQEwMA0torNYQnm94AAAAASUVORK5CYII=)

	figcaption
		width: 100%

	i
		display: block
		margin: 0 auto 35px

	strong
		color: #FFF
		font: 600 24px/30px $font

	label
		display: block
		width: 100%
		max-width: 773px
		height: 86px
		line-height: 170px
		margin: 10px auto
		background: url(../img/bg-breakdown-line.png) left bottom no-repeat

		span
			color: #FFF
			font: 600 24px/30px $font
			padding: 0 5px
			background: fixed url(../img/bg-pattern.png)

.team-grid
	+userSelect(none)
	margin: auto
	overflow: hidden
	padding-top: 5px

	figure
		@extend .full-bg
		float: left
		position: relative
		display: block
		vertical-align: top
		width: 25%
		height: 0px
		margin: 0
		padding: 0 0 25%
		overflow: hidden
		background-image: url(../img/filler-team1.jpg)

		@media (max-width: $small)
			width: 100%
			padding-bottom:  100%

		&:after
			content: ''
			pointer-events: none
			display: block
			+cover
			z-index: 1
			border: 5px solid #FFF

		&.promo
			background: #8E5BB7

		@media (min-width: $small)
			&.w-2x1
				width: 50%

			&.w-1
				width: 100%

	figcaption
		background: #8E5BB7

		h2
			color: #FFF
			font: 600 50px $font
			margin: 0 0 35px

			@media (max-width: $small)
				font-size: 22px

.journey
	+clearfix
	padding-top: 50px

	.wrapper
		max-width: 1291px

	.circle
		display: block
		+sq(426px)
		margin: auto
		+borderRadius(426px)
		border: 1px solid #E7E7E9
		background: #FFF

		@media (max-width: $small)
			width: 100%
			height: auto
			padding: 25px
			+borderRadius(0)

			&:not(:last-child)
				border-bottom: 0

		@media (min-width: $small)
			&.sm
				+sq(274px)
				+borderRadius(274px)

			&.lg
				+sq(499px)
				+borderRadius(499px)

	.circle figcaption
		z-index: 2
		position: relative
		color: $default
		+borderRadius(inherit)
		background: inherit

		@media (min-width: $small)
			border: 10px solid #FFF

		h2
			color: $purple
			font: 600 92px $font
			margin: 0

			@media (max-width: $small)
				font-size: 60px

			small
				position: relative
				top: -5px
				font-size: 32px
				vertical-align: bottom

		h3
			color: #FFF
			font: 600 32px/30px $font
			margin: 0

		p
			position: static
			max-width: 300px
			color: $default
			font: 300 20px/30px $font
			margin: 15px auto 0
			+transform(none)

			&:before, &:after
				display: none

	.circle:first-child 
		background: #EEB11B

// Positioninog
.journey .circle
	@media (min-width: $small)
		clear: both
		position: relative
		overflow: visible

		&:after
			content: ''
			display: none
			z-index: 1
			position: absolute
			right: 0
			bottom: 0
			width: 500px
			height: 1px
			background: #E7E7E9

		&:first-child:after
			display: block
			+transform(rotate(28deg) translate(181px, -174px))

		&:last-child:after
			display: none !important

		&:nth-child(2n)
			float: right
			margin: -150px 0 -200px

			&:after
				display: block
				+transform(rotate(164deg) translate(321px, 163px))

		&:nth-child(3n)
			float: left
			margin: -10px 0 -160px

			&:after
				display: block
				+transform(rotate(-153deg) translate(-322px, 163px))

		&:nth-child(4n)
			float: none
			margin: 0 0 0 46%

.partners.page-section
	padding: 100px 0 !important
	background: #4C5386

	h3
		color: #FFF
		font: 600 50px/1.5 $font
		margin: 0 0 70px

	.table
		border-collapse: collapse
		border: 1px solid #444A7B

		.row
			display: table-row
			margin: 0

		.cell
			margin: 0
			padding: 50px
			border: 1px solid #444A7B
			background: none

			@media (min-width: $small)
				height: 160px
				padding-top: 0
				padding-bottom: 0

			a[href="javascript:;"]
				cursor: default
				pointer-events: none