body.home
	@media (min-width: $small)
		overflow: hidden
	
.full-page
	position: relative
	color: #FFF
	text-align: center
	background: center no-repeat
	+backgroundSize(cover)

	@media (max-height: 800px)
		height: 102vh

	&.darken-bg
		&:before
			content: ''
			pointer-events: none
			z-index: 0
			display: block
			+cover
			background: rgba(#000, .25)

		> .centerY
			z-index: 2 !important
			position: relative !important

	@media (max-width: $small)
		height: auto
		padding: 50px 25px

	.centerY
		width: 100%
		margin: auto

	@media (max-width: $small)
		.centerY
			position: static
			+transform(none)

	.row, .col
		margin: auto
		padding: 0

	.wrapper
		max-width: 1020px

	h1,h2,h3
		color: inherit
		text-transform: uppercase
		margin: 0

	h1
		font: 600 40px $font

	h2
		font: 600 26px $font

	h3
		font: 600 16px $font

#page-slide-nav
	z-index: 99
	position: fixed
	right: 25px
	bottom: 25 + 50px

	a
		clear: right
		float: right
		display: block
		vertical-align: bottom
		max-width: 38px
		height: 5px
		overflow: hidden
		color: #FFF !important
		font: 600 12px $font
		text-align: center
		text-transform: uppercase
		text-decoration: none
		padding: 0 15px
		+transition(.45s $easeInOutSine)
		background: #FFF center no-repeat

		&:not(:last-child)
			margin-bottom: 5px

		span
			+opacity(0)
			pointer-events: none

		&:not(:hover):not(.active)
			+opacity(.35)

		&.active
			+opacity(1)
			max-width: 150px
			height: 27px
			line-height: 27px
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAbCAYAAACwRpUzAAAAK0lEQVQoU2N8t1H6PwMOwEiUpJD/U0Z0A+A6RyUZGBhGA2GAAgFbusabqAF5bGcAfJ6/ngAAAABJRU5ErkJggg==) left top no-repeat, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAbCAYAAACwRpUzAAAAJklEQVQoU2N8t1H6PwMOwIhXEpsmmAbGUUkGhtFAYBigQCA7UQMAMylJn59eI94AAAAASUVORK5CYII=) right top no-repeat

			span
				+opacity(1)
				+transition(.45s .4s ease)

// -----------------------------------------------

@import PageSlide-Transform
@import PageSlide-Mission
@import PageSlide-Skilled
@import PageSlide-Testimonials
@import PageSlide-Insight
@import PageSlide-TrySomethingNew