.template-contact 
	h2 + hr
		margin: 25px auto

	.lead
		margin: 0

		p
			font-size: 26px
			line-height: 22px

	form
		max-width: 531px

.icons-bar
	font: 600 18px $font
	margin: 75px auto

	a
		display: inline-block
		vertical-align: middle
		font-weight: 600
		font-size: 18px
		text-decoration: none
		margin: 0 30px

		@media (max-width: $small)
			display: block
			font-weight: 400
			font-size: 14px
			margin: 0 auto 15px

		&:hover
			color: #8E5BB7

		i
			margin: 0 10px 0 0

.page-id-375 
	@media (min-width: $small)
		overflow: hidden
		
	.template-page .page-section,
	.slide-ready, 
	#footer-push,
	#masthead .scroll-down-anchor
		display: none