.template-gated .page-section
	padding-bottom: 62px

.gated-form
	padding: 61px 0
	background: #FBFBFB

	h3
		margin: 0 auto 61px

	form 
		.row .m6.col
			float: none !important
			padding: 0 !important
			margin: 0 0 30px 

			&:last-child
				margin-bottom: 0 

		input[type=text],
		input[type=email]
			padding-top: 17px


		[type=hidden] + br + .center-align
			text-align: left !important

		.btn
			color: $yellow

			&:focus
				color: #FFF